nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(94, 106, 110);
  }
.nav-links {
    width:50%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    list-style: none;     
  }

.nav-links li{
    color: white; 
    
  }